@import "modal";
@import "categories";
@import "not_found";
@import "bootstrap";
@import "auth";
@import "navbar";
@import "home";
@import "slider";
@import "footer";
@import "images";
@import "upload";
// @import "bootstrap/scss/bootstrap";
// @import "kaminari/scss/kaminari";
@import "kaminari";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Sato:wght@400;700&display=swap');

$font-sato: 'Sato', sans-serif;
$font-red-hat: 'Red Hat Display', sans-serif;

body {
  background-color: whitesmoke !important;
  font-family: $font-sato;
}

input { 
  font-family: $font-red-hat;
  font-weight: 400;
}

.pagination {
  --bs-pagination-active-bg: #081158 !important;

}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.category-wrapper {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.category-box {
  position: relative;
  width: 250px;
  height: 250px;
  background: url('path/to/your/image.jpg') no-repeat center center/cover;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:hover .category-content {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
  }

  &:hover .category-title {
    opacity: 1;
  }
}

.category-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.category-title {
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 20px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.category-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #081158;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #0a3dd7;
  }
}
