@import "bootstrap";
@import "auth";
@import "navbar";
@import "home";
@import "slider";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&family=Sato:wght@400;700&display=swap');

$font-sato: 'Sato', sans-serif;
$font-red-hat: 'Red Hat Display', sans-serif;

body {
  background-color: whitesmoke !important;
  font-family: $font-sato;
}

input { 
  font-family: $font-red-hat;
  font-weight: 400;
}